<table class="w-full">
  <tr>
    <td class="align-center-table px-[20px] sm:px-[0px] pt-[20px]">
      <x-image
        class="w-[560px] sm:hidden"
        imgUrl="Hero Image Desk.png"
        alt=""
      />
      <x-image
        class="w-full hidden sm:block"
        imgUrl="Hero Image Desk.png"
        alt=""
      />
    </td>
  </tr>
  <tr>
    <td
      class="text-[24px] leading-[28px] text-[#005555] font-bold align-center-table pt-[20px] px-[20px]"
    >
      Excepteur sint occaecat cupidatat
    </td>
  </tr>
  <tr>
    <td
      class="text-[16px] leading-[18px] text-[#444444] pt-[20px] px-[50px] sm:px-[20px] align-center-table"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </td>
  </tr>
  <tr>
    <td class="align-center-table pt-[30px] pb-[40px]">
      <x-button
        width="335"
        height="40"
        leading="23"
        padding="10px 20px"
        rounded="10"
        bgColor="#008080"
        borderColor="#008080"
        href="smth"
        class="font-bold text-white text-[20px]"
        >Ut enim ad minim veniam
      </x-button>
    </td>
  </tr>
</table>
