<table class="w-full">
  <tr>
    <td class="bg-[#F0F5F5] px-[20px] pb-[30px]">
      <table class="w-full">
        <tr>
          <td
            class="text-[24px] leading-[28px] text-[#005555] font-bold align-center-table pt-[30px] pb-[20px]"
          >
            Sint cupidatat occaecat ut
          </td>
        </tr>
        <tr>
          <td class="px-[20px] sm:px-[0px]">
            <table class="w-full">
              <tr>
                <td class="sm:w-full sm:inline-block bg-white w-[270px]">
                  <table>
                    <tr>
                      <td class="align-center-table pt-[20px]">
                        <x-image class="w-[100px]" imgUrl="Icon.png" alt="" />
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="text-[20px] leading-[24px] text-[#005555] font-bold align-center-table pt-[20px]"
                      >
                        Nisi ut ade
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="text-[16px] leading-[18px] text-[#444444] px-[20px] align-center-table pt-[20px] pb-[20px]"
                      >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam.<span
                          class="text-[10px] leading-0 align-[6px]"
                          >1</span
                        >
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="w-[20px] sm:w-full sm:inline-block h-[30px]">
                  &nbsp;
                </td>
                <td
                  class="sm:w-full sm:inline-block bg-white w-[270px] pb-[20px]"
                >
                  <table>
                    <tr>
                      <td class="align-center-table pt-[20px]">
                        <x-image class="w-[100px]" imgUrl="Icon.png" alt="" />
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="text-[20px] leading-[24px] text-[#005555] font-bold align-center-table pt-[20px]"
                      >
                        Duis aute irure
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="text-[16px] leading-[18px] text-[#444444] px-[20px] align-center-table pt-[20px]"
                      >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam.<span
                          class="text-[10px] leading-0 align-[6px]"
                          >2</span
                        >
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
