<table class="w-full">
  <tr>
    <td class="px-[20px] pt-[20px]">
      <table>
        <tr>
          <td>
            <x-image class="w-[110px]" imgUrl="Header Logo.png" alt="" />
          </td>
          <td
            class="text-[12px] leading-[14px] text-[#002B2B] pt-[10px] pl-[30px] w-[380px] sm:w-[240px]"
          >
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
