<table class="w-full">
  <tr>
    <td class="px-[20px] text-[12px] leading-[14px] pt-[20px]">
      <b>Ut enim ad minim:</b> <br />
      <br />

      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. <br /><br />

      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br />
      <br /><br />

      <b>Sint occaecat cupidatat:</b> <br />
      <br />
      <table class="w-full">
        <tr>
          <td class="text-[12px] leading-[14px] w-[16px] align-top">1.</td>
          <td class="text-[12px] leading-[14px]">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </td>
        </tr>
        <tr>
          <td class="text-[12px] leading-[14px] w-[16px] align-top">2.</td>
          <td class="text-[12px] leading-[14px]">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="pt-[30px] px-[20px]">
      <table role="separator" class="w-full">
        <tr>
          <td class="w-[560px] align-center-table sm:w-full">
            <div class="bg-black leading-[1px] text-[1px]">&zwj;</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="text-[12px] leading-[14px] pt-[20px] align-center-table">
      Sed do eiusmod tempor incididunt ut labore
    </td>
  </tr>
  <tr>
    <td class="align-center-table pt-[20px] pb-[20px]">
      <x-image class="w-[100px]" imgUrl="Footer Logo.png" alt="" />
    </td>
  </tr>
</table>
